{% extends '__base__.html' %}

{% block title %}主页{% endblock %}

{% block beforehead%}
<script>
    function tagfun(blogtag){
     return location.assign('/'+blogtag.id)
    }
</script>
{% endblock %}
{% block content %}

    <div class="uk-width-medium-3-4">
        {% for blog in blogs %}
            <article class="uk-article">
                <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
                <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
                <p>{{ blog.summary }}</p>
                <p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
            </article>
            <hr class="uk-article-divider">
        {% endfor %}
    </div>

     <div class="uk-width-medium-1-4">
         <div class="uk-panel uk-panel-box">
            <div class="uk-text-center">
                <img class="uk-border-circle" width="120" height="120" src="{{ blogs[0].user_image }}">
                <h3>{{ blogs[0].user_name }}</h3>
            </div>
        </div>
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">文件归档</h3>
            <ul class="uk-list uk-list-line">
                {% for blogtag in blogtags %}
                <li>
                    <i class="uk-icon-tag"></i>  <a href="#" onclick="tagfun({{ blogtag }})" >{{ blogtag.name }}</a>
                </li>
                {% endfor %}

            </ul>
        </div>
         <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-link"></i> <a href="#">编程</a></li>
                <li><i class="uk-icon-link"></i> <a href="#">思考</a></li>
                <li><i class="uk-icon-link"></i> <a href="#">读书</a></li>
            </ul>
        </div>
    </div>

{% endblock %}