
{% extends '__base__.html' %}

{% block title %}登录{% endblock %}



{% block beforehead %}
    <style type="text/css">
    .bd{margin: auto;
    position: relative;
    background: rgba(238, 238, 238, 0.51);
    height: 662px;
    width: 955px;
    }
    .login{
    top:200px;
    width: 200px;
    height: 50px;
    font-size: large;
    position: relative;
    margin: 0 auto;
    }

    .form{
     top:200px;
    margin: 0 auto;
    background-color: rgba(158, 158, 158, 0.27);
    position: relative;
    width: 197px;
    height: 170px;
    }
    .form input.un{
    margin-top:10px;
    width:180px;
    margin-left:8px}

    .form input.pw{
    margin-top:10px;
    width:180px;
    margin-left:8px}

    .form input.sb{
    width:50px;
    float: right;
    margin-right: 20px;
    margin-top:15px;
    background-color: #009dd8;
    color: white;
    }

    </style>
<script>
function validateEmail(email) {
    var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    return re.test(email.toLowerCase());
}
$(function () {
    var vm = new Vue({//数据和定义的viewModel实例绑定
        el: '#vm',
        data: {
            email: '',
            password: ''
        },
        methods: {
            submit: function (event) {
                event.preventDefault(); //阻止表单提交
                var $form = $('#vm');
                if (! validateEmail(this.email.trim().toLowerCase())) {
                    return $form.showFormError('请输入正确的Email地址');
                }
                if (this.password.length < 6) {
                    return $form.showFormError('口令长度至少为6个字符');
                }
                var email = this.email.trim().toLowerCase();
                $form.postJSON('/api/authenticate', {
                    email: email,
                    passwd: CryptoJS.SHA1(email + ':' + this.password).toString()
                }, function (err, r) {
                    if (err) {
                        return $form.showFormError(err);
                    }
                    return location.assign('/');
                });
            }
        }
    });
    $('#vm').show();
});
</script>
  {% endblock %}

{% block content %}

<div class="bd">

<div class="login">
    <p style="text-align:center">登录</p>
</div>
<div class="form" >

    <form id="vm" v-on="submit: submit">
        <div class="uk-alert uk-alert-danger uk-hidden"></div>
    <input class="un" v-model="email" name="email" placeholder="Email" />
    <input class="pw" v-model="password" name="password" placeholder="Password" type="password"/>
     <input class="sb"  type="submit" value="登录" />
    </form>
</div>
    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">编程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">读书</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Python教程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Git教程</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
